@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Bebas+Neue&family=Kanit:wght@600&family=Pacifico&family=Poppins:wght@700&family=Roboto+Slab:wght@500&family=Rubik:wght@700&family=Seaweed+Script&family=Sedgwick+Ave+Display&family=Unica+One&display=swap');



.nv {
  left: 50%;

  transform: translate(-50%, 0);
}
.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/hero.jpg");

  /* Set a specific height */
  height: 40%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* .hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
} */

.iconbox {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  padding: 8px;
  font-size: 40px;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.06);
}

.lowe {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.lower-content {
  position: relative;
  display: block;
  padding: 60px 15px 25px 15px;
  border-radius: 0 0 10px 10px;
}

.image-box {
  margin: 0px;
  
}
.image-box img {
  margin: 0px;
  border-radius:  10px 10px 0 0;
}

.image-box-top {
  position: relative;
  display: block;
  border-radius: 5px;
  overflow: hidden;
  /* transition-[2s] hover:scale-[1.1] */
  transition: 0.8s;

}
.image-box-top:hover{
  scale: 1.1;
}
/* 
.image-box-top::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  opacity: 0.5;
} */

.text{
  /* font-family: 'Seaweed Script', cursive; */
  color: aliceblue;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.place{
  position: absolute;
  /* top: 50%; */
  bottom: 40px;
  
  /* font-family: ; */
  left: 50%;
  transform: translate(-50%, -50%);
}